###### Mode Dev or Prod ######
NODE_ENV=... # set dev or prod

###### FOR GITHUB API ######
GITHUB_API_TOKEN=...

###### FOR ETHERSCAN API ######
ETHERSCAN_API_KEY=...

###### FOR REDIS ######
REDIS_URL=...

###### FOR SUPABASE ######
# Connect to Supabase via connection pooling with Supavisor.
DATABASE_URL="postgres://postgres.umtoxyjeorikpwjyjdsz:[PASSWORD]@aws-0-eu-central-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations.
DIRECT_URL="postgres://postgres.umtoxyjeorikpwjyjdsz:[PASSWORD]@aws-0-eu-central-1.pooler.supabase.com:5432/postgres?pgbouncer=true"

###### FOR MONITORING WITH LOGTAIL ######
LOGTAIL_ACCESS_TOKEN_API=...
LOGTAIL_ACCESS_TOKEN_DATA_WAREHOUSE=...
LOGTAIL_ACCESS_TOKEN_OFF_CHAIN=...
LOGTAIL_ACCESS_TOKEN_ON_CHAIN=...
LOGTAIL_ACCESS_TOKEN_REPUTATION_MODEL=...

###### FOR BLOCKCHAIN ######
TENDERLY_RPC_API_KEY_1=...
TENDERLY_RPC_API_KEY_2=...
TENDERLY_RPC_API_KEY_3=...
TENDERLY_RPC_API_KEY_4=...

###### FOR CLERK AUTHORIZATION ######
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=...
CLERK_SECRET_KEY=...